:root {
    --primary-color: #048A81;
    --secondary-color: #54C6EB;
    --accent-color1: #06D6A0;
    --accent-color2: #323092;
    --accent-color3: #161616;

    --heading-font: "Oswald", sans-serif;
    --text-font: "Roboto", sans-serif;
}

.oswald-uniquifier {
    font-family: "Oswald", serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-uniquifier {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: var(--text-font);
    margin: 0;
    line-height: 1.6;
    color: var(--accent-color2);
    background-color: var(--accent-color1);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

a {
    color: var(--primary-color);
    text-decoration: underline;
}

header {
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5 20px;
}

header img {
    max-height: 90px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--accent-color1);
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(0.7);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 80%;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    width: auto;
    white-space: nowrap;
    transform: translateX(-50%);
    color: var(--primary-color);
    font-size: 3rem;
    letter-spacing: 0.75rem;
    margin-bottom: 20px;
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.hero article {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero article img {
    max-width: 150px;
    margin-left: 1rem;
}

.hero article p {
    flex-grow: 1;
}

.history {
    padding: 20px;
    width: 100%;
}

.history h2 {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

.history-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.history-content img {
    max-width: 700px;
    height: auto;
}

.history-content div {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.history-content p {
    line-height: 1.6;
    text-align: center;
}

.adventures {
    padding: 20px;
}

.adventures h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.adventure-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.adventure-gallery figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adventure-gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.adventure-gallery figcaption {
    text-align: center;
    margin-top: 0.5rem;
    font-style: italic;
    color: #333;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: #EEEEEE;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    color: var(--accent-color1);
    text-decoration: none;
}

footer a:hover {
    color: var(--accent-color3);
}

footer p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 0.5rem;
    color: var(--accent-color3);
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
    width: 100%;
}

.sociallinks a {
    text-decoration: none;
    margin: 0 0.5rem;
    transition: transform 0.2s ease;
    color: #CCCCCC;
}

.sociallinks a:hover {
    transform: scale(1.1);
    color: #003049;
}

.sociallinks a img {
    max-height: 25px;
    width: auto;
}

/* Contact Us */

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.firstpart {
    display: block;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    padding: 40px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.firstpart article {
    grid-column: 1;
    text-align: center;
    padding-right: 20px;
}


.firstpart h1 {
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.firstpart p {
    color: var(--accent-color2);
    font-family: var(--text-font);
    line-height: 1.6;
    margin-bottom: 10px;
}

.firstpart .map {
    grid-column: 2;
    width: 100%;
}

.map iframe {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}



.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #b1cf89;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.team h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 90%;
    max-width: 900px;
}

.gallery figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.gallery figure:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.gallery img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid var(--primary-color);
}

.gallery figcaption {
    text-align: center;
    font-family: var(--text-font);
    color: var(--accent-color2);
    font-size: 1.2rem;
}

.lastpart h3 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}

.lastpart label {
    color: #333;
}

.lastpart fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.lastpart legend {
    color: var(--primary-color);
    font-weight: bold;
    padding: 5px 10px;
    background-color: var(--accent-color1);
    border-radius: 5px;
}

.lastpart input[type="text"],
.lastpart input[type="email"],
.lastpart textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: var(--text-font);
    color: var(--accent-color2);
    background-color: #fff;
}

.lastpart input[type="text"]:focus,
.lastpart input[type="email"]:focus,
.lastpart textarea:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(var(--primary-color-rgb), 0.2);
}

.lastpart input[type="radio"],
.lastpart input[type="checkbox"] {
    margin-right: 5px;
}

.lastpart label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

.lastpart button[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--heading-font);
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.lastpart button[type="submit"]:hover {
    background-color: var(--secondary-color);
}

.lastpart fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.lastpart legend {
    color: var(--primary-color);
    font-weight: bold;
    padding: 5px 10px;
    background-color: var(--accent-color1);
    border-radius: 5px;
}

.name-inputs {
    display: flex;
    gap: 10px;/
}

.name-inputs input[type="text"] {
    width: calc(50% - 5px);
}


.lastpart div[class*="purpose"] {
    margin-bottom: 10px;
}

.lastpart div[class*="purpose"] label {
    display: inline;
    margin-bottom: 0;
}

#website {
    margin-bottom: 20px;
}